/* Estilos de la cabecera */

.cabecera {
    background-color: #007bff;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


/* Título */

#tituloAcuario {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
    display: inline-block;
}


/* Estilo para la imagen de búsqueda */

.icono-buscar {
    width: 40px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px;
    /* Espacio entre la imagen y el título */
}


/* Estilo del menú de despliegue */

.dropdown {
    position: relative;
}


/* Estilo del icono de menú */

.custom-dropdown-toggle {
    font-size: 22px;
    color: white;
    /* El color del icono */
    padding: 0;
    border: none;
    background: none;
    margin-right: 0px;
}


/* Estilo de los elementos del menú */

.dropdown-menu {
    min-width: 200px;
    /* Asegura un ancho mínimo adecuado */
    max-width: 300px;
    /* Opcional: Limita el ancho máximo */
    white-space: normal;
    /* Permite que el texto se envuelva si es necesario */
    word-wrap: break-word;
    /* Rompe palabras largas si exceden el ancho */
    font-size: 16px;
    /* Tamaño de fuente ajustado */
}

.dropdown-divider-custom {
    border-color: rgba(0, 0, 0, 0.1);
    /* Línea divisoria personalizada */
    margin: 0.5rem 0;
}


/* Estilos del botón de menú */

button {
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}


/* Aseguramos que el menú se alinee a la derecha */

.dropdown-menu-end {
    right: 0;
}

#resultados {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
    background-color: #E5E1DA;
    margin-left: 3px;
    margin-top: 5px !important;
}

#resultado-mensaje {
    height: 150px;
}

#resultado-mensaje p {
    color: gray;
    text-align: center;
    font-style: italic;
}

#resultado-detalles p {
    margin: 5px 0;
}

#control-resultados {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#resultados-extra {
    background-color: #f9f9f9;
    /* Fondo para destacar la información */
    font-size: 14px;
    /* Tamaño ajustado */
    height: 80px !important;
}

#resultados-extra div {
    flex: 1;
    text-align: center;
}

#resultados-extra div span {
    color: #007bff;
    /* Color destacado para los valores */
    font-weight: bold;
}

#fecha-resultado {
    font-size: 16px;
    font-weight: bold;
    color: maroon;
    margin: 0;
    padding: 0;
    min-height: 25px;
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
}

#contenedor-fecha {
    display: flex;
    align-items: center;
    /* Alinea verticalmente a los hijos */
    justify-content: space-between;
    /* Espacio equilibrado entre hijos */
    min-height: 25px;
    max-height: 25px;
    /* Asegura que no se desborde */
    margin: 0;
    padding: 0;
}

#instrucciones {
    font-size: 12.2px;
    color: #C96868;
    margin: 0;
    padding: 0;
    /* Sin relleno adicional */
    /* white-space: pre-wrap; */
    /* Respeta saltos de línea */
    text-align: justify;
    /* Alinea a la izquierda */
    flex: 1;
    /* Ocupa todo el espacio disponible */
}


/* Estilos del contenedor del comentario */

.comentario-container {
    height: 150px;
    /* Altura fija */
    overflow-y: auto;
    /* Permitir scroll vertical */
    background-color: #f9f9f9;
    padding: 10px;
    /* Espaciado interno para no pegar el texto al borde */
    display: block;
    /* Cambiar de flex a block para alineación normal */
    text-align: justify;
    /* Alinear texto a la izquierda */
    font-size: 13px;
}


/* .comentario-texto span.highlight {
    color: red;
    font-weight: bold;
} */

.highlight {
    background-color: #FFE6A9;
    color: #8a1330;
    font-weight: bold;
}

.comentario-container .comentario-texto p.georgia-regular-italic {
    color: #808080;
    /* Gris para el texto cuando no hay resultados */
    font-style: italic;
}

.comentario-container .comentario-texto p.normal-text {
    color: #000000;
    /* Negro cuando haya resultados */
    font-style: normal;
    font-family: Georgia;
}


/* Contenedor de los datos */

.datos {
    margin-top: 2px;
}


/* Estilo de cada dato (pH, KH, Temp, NO3, CO2) */

.comentario-texto {
    max-height: 150px;
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 14px;
    color: #333;
}


/* Estilo para el texto del comentario */

.comentario-texto p {
    color: gray;
    font-style: italic;
    padding: 0px;
}


/* Estilo cuando hay un comentario y los resultados son visibles */

.comentario-texto.normal-text p {
    color: black;
    font-style: normal;
}

#control-resultados {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#control-resultados .btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background: #708871;
    color: white;
}

#control-resultados .btn:hover {
    background-color: #e0e0e0;
}

#control-resultados .btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#contadorResultados {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #9CA986 !important;
}

.datos {
    width: 100%;
    padding: 10px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Alinea los elementos a la izquierda */
    gap: 5px;
    /* Agrega un espacio entre los elementos */
}

.col {
    width: auto;
    /* Ajusta el tamaño de la columna al contenido */
    text-align: center;
    /* Centra el texto en cada columna */
}

.dato-titulo {
    font-weight: bold;
    color: #1b1b1b;
    margin: 0;
    font-size: 13px !important;
}

.dato-valor {
    font-size: 1.1rem;
    color: blue;
    margin: 0;
    font-size: 16px !important;
}

#inputBusqueda::placeholder {
    font-size: 13px;
    /* Ajusta el tamaño del texto del placeholder */
    font-style: italic;
}

#btnBuscar {
    background: #C5705D;
}

#contenedor-principal {
    margin-top: 50px !important;
    /* Fija el margen superior a 5px */
    padding-top: 0;
    /* Asegúrate de que no haya relleno adicional */
    margin-left: 3px;
    padding: 5px;
    background: #ECEBDE;
    width: 98.5%;
    height: 50px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    /* Permitir que la altura crezca más allá de la ventana */
    overflow-x: hidden;
    /* Evitar el desplazamiento horizontal */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: calc(100vh - var(--alto-cabecera));
    /* Asegúrate de usar --alto-cabecera correctamente */
    overflow: hidden;
    /* Evitar cualquier desplazamiento interno */
}

#datos-extra {
    margin-top: 0px !important;
    /* Reduce el espacio superior del contenedor general */
    padding-top: 0.5rem;
    /* Opcional: ajusta el relleno superior dentro del contenedor */
    width: 100%;
}

#datos-extra .inyeccion-container {
    margin-bottom: 0;
    /* Elimina cualquier espacio debajo del contenedor */
    padding: 4px 8px;
    /* Reduce el relleno interno para que sea más compacto */
    background-color: #F1F0E8;
    /* Mantén el fondo existente */
    border-radius: 5px;
    /* Opcional: bordes redondeados */
}

#datos-extra .inyeccion-container img {
    width: 30px;
    /* Reduce el tamaño del icono */
    height: 30px;
    /* Mantén proporciones */
    margin-left: 8px;
    /* Ajusta el espaciado horizontal entre el texto y el icono */
}

.select-no {
    user-select: none;
}

.gauge-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /* Ajusta el tamaño según sea necesario */
    top: 5px;
}

.gauge-title {
    position: absolute;
    top: -10px;
    /* Posición vertical */
    left: 50%;
    /* Centrado horizontalmente */
    transform: translateX(-50%);
    font-size: 16px;
    /* Tamaño de la fuente */
    color: #000;
    /* Color del texto */
    z-index: 2;
    /* Asegura que esté encima del canvas */
    pointer-events: none;
    /* Evita que interfiera con eventos del mouse */
}

.gauge-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
}

.gauge-container {
    height: 15px;
    /* Ajusta la altura según el gauge */
    width: 100%;
    /* O ajusta al diseño deseado */
    margin: 0 auto;
}

.gauge-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: -30px;
    color: #555;
    padding-left: 10px;
    padding-right: 10px;
    /* Cambia el color según tu diseño */
}

canvas {
    display: block;
    margin: auto;
    z-index: 1;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}


/* ***************MODAL RESULTADOS**************************** */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cerrar {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    float: right;
    cursor: pointer;
}


/* Ajuste del modal */

.modal-content {
    margin: 10% auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 95%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    /* Centra el contenido */
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #89A8B2;
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 0;
    /* Para posicionar el ícono de forma independiente */
}

.modal-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
    /* Centra el título dentro del modal */
}

.modal-header .info-icon {
    position: absolute;
    /* Fija el icono a la izquierda */
    left: 10px;
    /* Margen izquierdo */
    font-size: 24px;
    /* Tamaño del icono */
    color: #0078d7;
    /* Color azul suave */
}

.info-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #0078d4;
    font-weight: bold;
    font-style: normal;
}

.modal-body {
    padding: 10px 5px;
    width: 100%;
    /* Asegura que tenga el mismo ancho que modal-header */
    box-sizing: border-box;
    /* Incluye padding en el cálculo del ancho */
    text-align: justify;
    margin: 0;
}

.modal-body p {
    font-size: 13.6px;
}

.comments-box {
    width: 100%;
    /* Asegura que el cuadro de texto se extienda por todo el modal */
    height: 150px;
    margin-top: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    /* Asegura que el padding no desplace el ancho */
    text-align: left;
    /* Texto alineado a la izquierda */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}

.modal-header .close-button {
    position: absolute;
    /* Permite posicionar libremente */
    top: 5px;
    /* Margen superior */
    right: 10px;
    /* Margen derecho */
    background: none;
    /* Elimina fondo */
    border: none;
    /* Elimina borde */
    font-size: 24px;
    /* Tamaño más grande */
    font-weight: bold;
    /* Resalta el icono */
    color: #555;
    /* Color oscuro */
    cursor: pointer;
    /* Indica que es clicable */
    transition: color 0.3s ease;
    /* Efecto al pasar el mouse */
}

.modal-header .close-button:hover {
    color: #d9534f;
    /* Cambia a rojo al pasar el mouse */
}


/* Ajuste de fuentes pequeñas para el contenido del modal */

.modal-body p,
.modal-body span,
#modal-comments {
    font-size: 12px;
    /* Reduce aún más el tamaño */
    line-height: 1.2;
    /* Espaciado para mejor legibilidad */
    color: #232727;
}


/* ***************MODAL BUSQUEDAS MENU**************************** */


/* Estilo de la cabecera del modal */

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


/* Contenedor del título e icono */


/* Estilo de la cabecera del modal */

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/* Contenedor del título e icono */

.modal-titulo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    /* Permite que el título ocupe el espacio restante */
    text-align: center;
}


/* Icono del título */

.modal-icon {
    width: 24px;
    height: 24px;
}

#modal-body {
    padding: 20px;
    overflow-y: auto;
}


/* Con sombra */

.btn-con-sombra {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}