.btn-volver {
    display: block;
    width: 100%;
    background: linear-gradient(to bottom, #cfacc4, #7c2453);
    color: white;
    padding: 10px 0;
    /* Reduce el relleno vertical para hacer el botón más bajo */
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    /* Ajusta el tamaño de fuente si es necesario */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-volver:hover {
    background: linear-gradient(to bottom, #7c2453, #cfacc4);
    /* Azul más oscuro */
}

.btn-ultimos-datos,
.btn-todos-datos {
    display: block;
    width: 100%;
    background: linear-gradient(to bottom, #8ccfa1, #175222);
    color: white;
    padding: 10px 0;
    /* Reduce el relleno vertical para hacer el botón más bajo */
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    /* Ajusta el tamaño de fuente si es necesario */
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-volver-otra:hover {
    background: linear-gradient(to bottom, #175222, #8ccfa1);
    /* Azul más oscuro */
}

#modalCuerpo {
    text-align: justify;
}