/* General */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Evita scroll innecesario */
    display: flex;
    flex-direction: column;
}


/* Cabecera fija */

.cabecera {
    background-color: #007bff;
    color: white;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
    /* Altura mínima */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.cabecera h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
    /* Reservamos espacio para el botón flotante */
    display: inline-block;
}

.menu-flotante {
    background-color: #007bb5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
}


/* Contenedor del gráfico */

#graph-container {
    flex-grow: 1;
    /* Ocupa todo el espacio disponible */
    overflow-y: auto;
    /* Permitir scroll vertical si el contenido excede la altura */
    min-height: 400px;
    /* Altura mínima para el gráfico */
    margin-top: 45px;
}

#graficoLineas {
    /* El contenedor del gráfico */
    width: 100%;
    height: 100%;
    /* Ajusta el tamaño según lo necesites */
    margin-top: -5px;
}


/* Estilos para los títulos de los ejes */

.axis-title {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(90deg);
    /* Rotar para que el texto sea vertical */
    white-space: nowrap;
    /* Evitar que el texto se rompa en varias líneas */
}

#axis-left-title {
    left: -7px;
    top: 71%;
    /* Posiciona el título a la mitad del gráfico, ajusta según necesites */
    transform: rotate(270deg);
    margin-bottom: 0%;
    /* Ajusta para que el texto se alinee correctamente */
}

#axis-right-title {
    right: -72px;
    top: 79.5%;
    /* Posiciona el título a la mitad del gráfico, ajusta según necesites */
    transform: rotate(270deg);
    margin-bottom: 0%;
    /* Ajusta para que el texto se alinee correctamente */
}


/* Estilo general del modal */

.modal {
    display: none;
    /* Ocultar por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semitransparente */
}


/* Contenido del modal */

.modal-content {
    background-color: #f9f9f9;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 95%;
    /* Cambiado para un diseño más amplio en móviles */
    max-width: 480px;
    /* Limitar ancho máximo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Georgia", serif;
    color: #333;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #89A8B2;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
    border-radius: 0px;
    /* Para posicionar el ícono de forma independiente */
}

.modal-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
    /* Centra el título dentro del modal */
}

.modal-header .info-icon {
    position: absolute;
    /* Fija el icono a la izquierda */
    left: 10px;
    /* Margen izquierdo */
    font-size: 24px;
    /* Tamaño del icono */
    color: #0078d7;
    /* Color azul suave */
}

.info-icon {
    font-size: 1.8em;
    color: #007bff;
    margin-right: 10px;
}


/* Botón de cierre */

.modal-header .close-button {
    position: absolute;
    /* Permite posicionar libremente */
    top: 0px;
    /* Margen superior */
    right: 10px;
    /* Margen derecho */
    background: none;
    /* Elimina fondo */
    border: none;
    /* Elimina borde */
    font-size: 28px;
    /* Tamaño más grande */
    font-weight: bold;
    /* Resalta el icono */
    color: #555;
    /* Color oscuro */
    cursor: pointer;
    /* Indica que es clicable */
    transition: color 0.3s ease;
    /* Efecto al pasar el mouse */
}

.close-button:hover {
    color: #333;
}


/* Cuerpo del modal */


/* Asegúrate de que el padding de .modal-body no interfiera */

.modal-body {
    padding: 15px 0 0 0;
    /* Elimina el padding inferior */
    display: flex;
    flex-direction: column;
    /* Alinear contenido verticalmente */
    height: 100%;
    /* Asegura que el modal-body ocupe todo el espacio disponible */
}

.modal-body p {
    font-size: 13.6px;
}


/* Caja de comentarios */

.comments-box {
    width: 100%;
    /* Asegura que el cuadro de texto se extienda por todo el modal */
    height: 160px;
    margin-top: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    /* Asegura que el padding no desplace el ancho */
    text-align: left;
    /* Texto alineado a la izquierda */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
}